In [1]:
#1

my_list = ["Hello", "Python"]
print("-".join(my_list))

Hello-Python

In [2]:
#2

aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

In [3]:
#3

list1 = ['xyz', 'zara', 'PYnative']
list2 = [100,1000,2]
print (max(list1))
print (max(list2))

zara
1000

In [4]:
#4
 
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]

In [5]:
#5

aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

Y
16

In [6]:
#6

l = [None] * 10
print(len(l))

10

In [7]:
#7

sampleList = [10, 20, 30, 40, 50]
a = sampleList.pop()
b = sampleList.pop(2)
print(sampleList)
print(a, b)

[10, 20, 40]
50 30

In [8]:
#8

aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [9]:
#9

sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

[]

In [10]:
#10

nameList = ['Harsh', 'Pratik', 'Bob', 'Dhruv'] 
 
print(nameList[1][-1])

k

In [11]:
#11

list1 = [1998, 2002] 
list2 = [2014, 2016] 
 
print ((list1 + list2)*2)

[1998, 2002, 2014, 2016, 1998, 2002, 2014, 2016]

In [12]:
#12

d1 = [10, 20, 30, 40, 50] 
d2 = [1, 2, 3, 4, 5] 
print( d2 - d1 )

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [13]:
#13

name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff',"hat"]
animal = ['Cat',  'Fish', 'Goat']
age = [1, 2, 2, 6]
z = zip(name, animal, age)
print(z)
for name,animal,age in z:
    print("%s the %s is %s" % (name, animal, age))

<zip object at 0x0000025BD512F180>
Snowball the Cat is 1
Chewy the Fish is 2
Bubbles the Goat is 2

In [14]:
#14

li = [3, 2, 2, 1, 1, 1]
list(set(li))

[1, 2, 3]

In [15]:
#15

fruit = ['pear', 'orange', 'apple', 'grapefruit', 'apple', 'pear']
print(fruit.index('apple'))
print(fruit.index('pear'))

2
0

In [16]:
#16

grocery_list = ['flour','cheese','carrots']
for idx,val in enumerate(grocery_list):
    print("%s: %s" % (idx, val))

0: flour
1: cheese
2: carrots

In [17]:
#17

li = ['a','b','c','d','e']
li.insert(2, 'HERE')
li

['a', 'b', 'HERE', 'c', 'd', 'e']

In [18]:
#18

def remove_negatives(x):
    return True if x >= 0 else False
    
a = [-10, 27, 1000, -1, 0, -30]
[x for x in filter(remove_negatives, a)]

[27, 1000, 0]

In [19]:
#19

li = ['The', 'quick', 'brown', 'fox', 'was', 'quick']
d = {k:1 for k in li}
d

{'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'was': 1}

In [20]:
#20 

a = [10,20,30,40,50]
list(map(lambda val:val*5, a))

[50, 100, 150, 200, 250]

In [21]:
#21

li = [10,1,9,2,8,3,7,4,6,5]
li.sort(reverse=True)
li

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
#22

li = [10,1,9,2,8,3,7,4,6,5]
min(li)

1

In [23]:
#23

stack = []
stack.append('Jess')
stack.append('Todd')
stack.append('Yuan')
print(stack)
print(stack.pop())
print(stack)

['Jess', 'Todd', 'Yuan']
Yuan
['Jess', 'Todd']

In [24]:
#24    Find the intersection of 2 lists

li1 = [1,2,3]
li2 = [2,3,4]
set(li1) & set(li2)

{2, 3}

In [25]:
#25  Find the difference between a set and another set

li1 = [1,2,3]
li2 = [2,3,4]
set(li1) - set(li2)

{1}

In [26]:
set(li2) - set(li1)

{4}

In [27]:
#26 Flatten a list of lists with a list comprehensions

li = [[1,2,3],[4,5,6]]
[i for x in li for i in x]

[1, 2, 3, 4, 5, 6]

In [28]:
#27

list(range(5,10))

[5, 6, 7, 8, 9]

In [29]:
#28 Combine 2 lists into a dictionary

name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
num = [1,2,3,4]
print(dict(zip(name, animal)))
for i in zip(name,animal,num):
    print(i)

{'Snowball': 'Cat', 'Chewy': 'Dog', 'Bubbles': 'Fish', 'Gruff': 'Goat'}
('Snowball', 'Cat', 1)
('Chewy', 'Dog', 2)
('Bubbles', 'Fish', 3)
('Gruff', 'Goat', 4)

In [30]:
#29

from collections import Counter
li = ['blue', 'pink', 'green', 'green', 'yellow', 'pink', 'orange']
Counter(li)

Counter({'blue': 1, 'pink': 2, 'green': 2, 'yellow': 1, 'orange': 1})

In [31]:
#30

resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
print(resList)

['Hello Dear', 'Hello Bye', 'Good Dear', 'Good Bye']

In [32]:
#31

aList = [1, 2, 3, 4, 5, 6, 7]
pow2 =  [2 * x for x in aList]
print(pow2)

[2, 4, 6, 8, 10, 12, 14]

In [33]:
#32

def addToList(listcontainer): 
	listcontainer += [10] 

mylistContainer = [10, 20, 30, 40] 
addToList(mylistContainer)
print(mylistContainer) 
print(len(mylistContainer))

[10, 20, 30, 40, 10]
5

In [34]:
#33

def gfg(x,l=[]): 
    for i in range(x):
        l.append(i*i) 
    print(l) 
 
gfg(3,[])

[0, 1, 4]

In [35]:
#34

data = [2, 3, 9] 
temp = [[x for x in data] for x in range(2)] 
print (temp)

[[2, 3, 9], [2, 3, 9]]

In [36]:
#35 

data = [x for x in range(5)]
temp = [x for x in range(7) if x in data and x%2==0]
print(temp)

[0, 2, 4]

In [37]:
#36

temp = 'Geeks 22536 for 445 Geeks' #== > "2","2","5",3,6,4,4,5
data = [x*x for x in (int(x) for x in temp if x.isdigit()) if x%2 == 0] 
print(data)

[4, 4, 36, 16, 16]

In [38]:
#37