## LIST
### 1.Ordered 
### 2.Changeable 
### 3.Allow Duplicates

In [1]:
zeros = [0]*10
zeros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [2]:
myList = [1,2,3,3]
print(myList)

[1, 2, 3, 3]

In [3]:
print(type(myList))

<class 'list'>

In [4]:
myList[:]

[1, 2, 3, 3]

In [5]:
myList[1:]

[2, 3, 3]

In [6]:
myList[::-1]

[3, 3, 2, 1]

In [7]:
myList[0] = 4
myList

[4, 2, 3, 3]

In [8]:
myList[:] = [10, 20, 30, 40]
myList

[10, 20, 30, 40]

In [9]:
# create a list with list()

list(range(10))[::2]

[0, 2, 4, 6, 8]

# list's functions

In [10]:
#append(x)

myList = [10, 20, 30]
myList.append(40)
myList

[10, 20, 30, 40]

In [11]:
# extend(iterable)

myList = [10]
myList.extend([20, 30, 40])
myList

[10, 20, 30, 40]

In [12]:
# list.insert(i, x)

myList = [10, 20]
myList.insert(5, 15)
myList

[10, 20, 15]

In [13]:
# list.remove(x)

myList = [10, 20, 20]
myList.remove(20)
myList

[10, 20]

In [14]:
# list.pop(i)

myList = [10, 20, 30]
myList.pop(0)
myList

[20, 30]

In [15]:
myList = [10, 20, 30]
myList.pop()
myList

[10, 20]

In [16]:
# list.clear()
myList = [10, 20, 20]
myList.clear()
myList

[]

In [17]:
# list.index(x, start, end)

myList = ["amir", "ali", "amir", "ali"]

In [18]:
myList.index('ali')

1

In [19]:
myList.index('ali', 2, 4)

3

In [20]:
myList.index('ali', 0, 1)

ValueError: 'ali' is not in list

In [21]:
# list.count(x)

myList = ["amir", "ali", "amir", "ali"]
myList.count('ali')

2

In [22]:
myList.count('mohamadreza')

0

In [23]:
# list.sort()
#ascii
myList = [90,20,93,40,1,100]
myList.sort()
myList

[1, 20, 40, 90, 93, 100]

In [24]:
# Len(list)

len(myList)

6

In [25]:
# list.reverse()

numbers = [1, 2, 3, 4, 5]
numbers.reverse()
numbers

[5, 4, 3, 2, 1]

In [26]:
# c.join(list)

names = ['ali', 'mohamadreza', 'mahdi']
' and '.join(names)

'ali and mohamadreza and mahdi'

In [27]:
# list.copy()

numbers = [1, 2, 3, 4, 5]
copy = numbers.copy()
copy

[1, 2, 3, 4, 5]

In [28]:
copy = numbers[:]
copy

[1, 2, 3, 4, 5]

In [29]:
# پیمایش لیست ها

myList = ['ali', 1, 2, 3, 'chetor']
for it in myList:
     print(it, end=" ")

ali 1 2 3 chetor

In [30]:
# enumerate

myList = ["ali","hasan","vahid"] #==> (0,"ali"), (1,"hasan"), (2,"vahid")
for i, it in enumerate(myList):
    print("the {0}th object in myList is {1}!".format(i, it))

the 0th object in myList is ali!
the 1th object in myList is hasan!
the 2th object in myList is vahid!

In [31]:
# zip

listA = [1, 2, 3, 4] #===> a
listB = ['a', 'b', 'c', 'd'] #==> b
listC = ['I', 'II', 'III', 'IV']  #==>c
for a, b, c in zip(listA, listB, listC):
     print("{0}th alphabet or {1} in greece is {2}".format(a, c, b))

1th alphabet or I in greece is a
2th alphabet or II in greece is b
3th alphabet or III in greece is c
4th alphabet or IV in greece is d

In [32]:
# sorted , list.sort()

ls = [2, 4, 3, 1]
sorted(ls)

[1, 2, 3, 4]

In [33]:
# reversed , list.reverse()

ls = ['a', 'bcd', 'salam', 'hello']
reversed(ls)
ls.reverse()
print(ls)

['hello', 'salam', 'bcd', 'a']

In [34]:
for i in reversed(ls):
    print(i, end=' ')

a bcd salam hello

In [35]:
prime_numbers = [11, 3, 7, 5, 2]

# sorting the list in ascending order
print(prime_numbers.sort())

print(prime_numbers)

None
[2, 3, 5, 7, 11]

In [38]:
#list.sort(key=..., reverse=...)

In [39]:
#sorted(list, key=..., reverse=...)

![](1.jpg)

In [40]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
a = sorted(vowels)

# print vowels
print('Sorted list:', a)

Sorted list: ['a', 'e', 'i', 'o', 'u']

![](2.jpg)

In [41]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort(reverse=True)

# print vowels
print('Sorted list (in Descending):', vowels)

Sorted list (in Descending): ['u', 'o', 'i', 'e', 'a']

![](3.jpg)

In [42]:
names = ["ali", "heshmat", "ghazanfar"]

names.sort(key=len, reverse= True)

print(names)

['ghazanfar', 'heshmat', 'ali']

In [43]:
# take second element for sort
def takeSecond(elem):
    return elem[1]

# random list
random = [(2, 2), (3, 4), (4, 1), (1, 3)]

# sort list with key
random.sort(key=takeSecond, reverse= True)

# print list
print('Sorted list:', random)

Sorted list: [(3, 4), (1, 3), (2, 2), (4, 1)]

In [44]:
list = [[1],[2]]
list[1]

[2]

![](4.jpg)

![](5.jpg)

![](7.jpg)

In [45]:
# filter

def f(x):
    return True if x%2 == 0 else False

ls = [1, 2, 4, 3, 6, 4]
filter(f, ls)

In [46]:
for x in filter(f, ls):
     print(x, end=' ')

2 4 6 4

![](8.jpg)

In [47]:
# map

def f(x):
    return int(x)

ls = [2, '4', False, 3.14]
map(f, ls)

In [48]:
for x in map(f, ls):
    print(x, end=' ')

2 4 0 3

In [49]:
number = map(int, ls)
for i in number:
    print(i)

2
4
0
3

In [50]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(result)
for i in result:
    print(i)

<map object at 0x00000224B731D840>
5
7
9

In [51]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

TypeError: 'list' object is not callable

In [52]:
# sum 

lis1 = [1, 2, 3, 4]
sum(lis1)

10

In [53]:
sq = []
for x in range(10):
     sq.append(x*x)
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
sq = [x*x for x in range(10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
[0 for x in range(5)]

[0, 0, 0, 0, 0]

In [56]:
[str(x)+y for x in [1, 2, 3] for y in ['A', 'B']]

['1A', '1B', '2A', '2B', '3A', '3B']

In [57]:
[(x, y) for x in [1, 2, 3] for y in [1, 2, 3] if x != y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [58]:
data = [10, -4, 53, 122, 0]
[x for x in data if x >= 0]

[10, 53, 122, 0]

In [59]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in range(3):
    for j in range(3):
        print(matrix[i][j], end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [61]:
m,n = input().split()
zeros = [[0 for c in range(int(m))] for r in range(int(n))]
zeros

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [62]:
# del

a = ['ali', 'rafte', 'key', 'barmigarde?']
del a[0]
a

['rafte', 'key', 'barmigarde?']

In [63]:
del a[0:2]
a

['barmigarde?']

In [64]:
del a[:]
a

[]

In [65]:
# print in a row

ls = [0, 1, 2, 3, 4]
print(*ls)
# print(ls)
for i in ls:
    print(i,end="")

0 1 2 3 4
01234

هنوز تدریس نشده! !

# A tuple is a collection which is ordered and unchangeable.

### Tuples are written with round brackets.

![](6.jpg)

In [66]:
mytuple = ("apple", "banana", "cherry")
mytuple

('apple', 'banana', 'cherry')

In [67]:
# Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [68]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [69]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [70]:
# String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [71]:
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

In [72]:
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [73]:
t = ("ali", 123, 2.5)
t[0]

'ali'

In [74]:
t = "ali", 123, 2.5
print(type(t))
print(t)

<class 'tuple'>
('ali', 123, 2.5)

In [75]:
# یکی از کاربرد‌های چندتایی در برگرداندن چند مقدار در یک تابع است.
#  برای اینکار از لیست هم می‌توان استفاده کرد ولی چون لیست تغییرپذیر است بهتر است از چندتایی استفاده کنیم
# تا تغییر در مقدار برگردانده شده بر بقیه مقدارها تاثیر نگذارد

In [76]:
myList = [1, 2]
def f():
    return myList

a = f()
a.append("12")
print(myList)

a[0] = 10
print(myList)

[1, 2, '12']
[10, 2, '12']

In [77]:
myTuple = 1, 2
def f():
    return myTuple

a = f()
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [78]:
a = 3, 4
myTuple

(1, 2)

In [79]:
# Concatenation of tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Geeks', 'For', 'Geeks')
 
Tuple3 = Tuple1 + Tuple2
print(Tuple3)

(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [80]:
# Slicing of a Tuple
# with Numbers
Tuple1 = tuple('Salam')
 
# Removing First element
print("Removal of First Element: ")
print(Tuple1[1:])

Removal of First Element:
('a', 'l', 'a', 'm')

In [81]:
# Reversing the Tuple
print("\nTuple after sequence of Element is reversed: ")
print(Tuple1[::-1])

Tuple after sequence of Element is reversed:
('m', 'a', 'l', 'a', 'S')

In [82]:
# Printing elements of a Range
print("\nPrinting elements between Range 4-9: ")
print(Tuple1[4:9])

Printing elements between Range 4-9:
('m',)

In [83]:
# Deleting a Tuple
 
Tuple1 = (0, 1, 2, 3, 4)
del Tuple1
 
print(Tuple1)

NameError: name 'Tuple1' is not defined

![](9.jpg)