"https://youtu.be/cUAK4x_7thA"

In [1]:
#HOW TO PRINT THINGS IN PYTHON


print("Salam Bacheh ha")

Salam Bacheh ha

In [2]:
#HOW TO INPUT THINGS IN PYTHON

example = input()
print(example)

salam

In [3]:
#WE CAN PRINT THINGS AND HAVE MUCH MORE 

x = 3
y = 5
print("sum =", x + y)

sum = 8

In [4]:
#HOW TO SKIP GOING TO NEXT ROW 

print("Salam", end=' ')
print("Khoobi?")

Salam Khoobi?

In [5]:
# WE HAVE DIFFERENT TYPE OF VALUES IN PYTHON AS int, str, float

# int ==> 6
# string ==> "salam"
# float ==> 6.3

print(type(6))
print(type("salam"))
print(type(6.3))

<class 'int'>
<class 'str'>
<class 'float'>

In [6]:
#HOW TO TURN int to float AND BACKWARD

a = 2.3    #float
b = int(a)
print(b)
print(type(b))

2
<class 'int'>

In [7]:
c = 5       #int
d = float(c)
print(d)
print(type(d))

5.0
<class 'float'>

In [8]:
# FUNCTION STRUCTURE, **if the question asked for returning value you should end your function with ((return sth))**

def first(x):
    return(x+2)

print(first(2))

4

In [9]:
# if, elif, else
# SOMETIMES WE MUST HAVE SOME CONDITION SO WE USE THOSE IN OUR CODE

x = int(input())
if x > 100:
    print("it's much more than what we want")
elif 50 > x :
    print("so far so good")
else:
    print("not bad")

it's much more than what we want

In [10]:
a = int(input())
b = int(input())
if a > b:
    print(a)
else:
    print(b)

20

In [11]:
#HOW TO INPUT MULTIPLE THINGS IN A ROW
a, b = input().split()
if a > b:
    print(a)
else:
    print(b)

20

In [12]:
# WHAT IS WHILE CONDITION AND WHEN WE SHOULD USE IT?

a = 1
while a < 10:
    print(a,end=" ")
    a += 1

1 2 3 4 5 6 7 8 9

In [13]:
#WHEN WE USE **CONTINUE** IN OUR CODE, IT MEANS WE WANT TO SKIP THOSE VALUES WITH THAT CONDITION AND GET BACK TO WHILE TO DO THE REMAINING LOOP

x = 0
while x < 10:
    x += 1
    if x % 2 == 0:
        continue
    print(x,end=" ")

1 3 5 7 9

In [14]:
# WHEN WE WANT TO STOP THE LOOP FOR A SPECIFIC VALUE OR CONDITION, WE USE BREAK IN OUR CODE

result = 0
while True:
    n = int(input())
    if n == 0:
        break
    result = result + n
print(result)

71

In [15]:
# WE USE FOR LOOPS IF WE WANT TO CHECK EACH VALUE OF A SERIES OR A LIST AND DO SOMETHING ON THEM OR ETC

numbers = [10, 20, 30, 40]
for i in numbers:
    print(i)

10
20
30
40

In [16]:
words = [['s', 'a', 'l', 'a', 'm'], ['k', 'h', 'o', 'o', 'b', 'i', '?']]

for word in words:
    for char in word:
        print(char, end='')
    print()

salam
khoobi?

In [17]:
# HOW TO PRINT 1 TO 10 BY USING RANGE() IN A LOOP

for i in range(10):
    print(i+1, end = " ")

1 2 3 4 5 6 7 8 9 10

In [18]:
for i in range(5, 10):
    print(i, end=' ')

5 6 7 8 9

In [19]:
for i in range(0, 10, 2):
    print(i, end=' ')

0 2 4 6 8

In [20]:
words = ['salam', 'khoobi?', 'na']

for i in range(len(words)):
    print(words[i])

salam
khoobi?
na

In [21]:
words = ['salam', 'khoobi?', 'na']
for i in range(0, len(words), 2):
    print(" *** " + words[i])

 *** salam
 *** na

In [22]:
#Assignment Expressions

example = 10
print(example)

#INSTEAD OF THAT WE USE THIS METHOD

print(example := 10)

10
10

In [23]:
#FUNCTIONS

def f(a):
    return a

print(f(10))
print(f(f(10)))
print(type(f))

10
10
<class 'function'>

## ERRORS

### SyntaxError: invalid syntax


![](syntax.jpg)

## Exceptions
![](exceptions.jpg)

In [24]:
# HOW TO HANDLE THEM? WE USE TRY AND EXCEPT

try:
    x = int(input())
    print("It's a number!")
except:
    print("It's just a string!")

It's just a string!

## MATH LIBRARY
![](math1.jpg)

In [25]:
import math
from math import *

print(ceil(3.6))

4

In [26]:
print(floor(3.4))

3

In [27]:
print(fabs(-10))

10.0

In [28]:
print(factorial(5))

120

In [29]:
print(gcd(2,3))

1

![](math2.jpg)

In [30]:
print(math.pow(2,3))
print(2**3)

8.0
8

In [31]:
print(math.log(10))

2.302585092994046

In [32]:
print(math.log(10,math.e))

2.302585092994046

In [33]:
print(math.log(10,2))

3.3219280948873626

In [34]:
print(math.sqrt(64))
print(64**(1/2))

8.0
8.0

![](math3.jpg)

In [35]:
print(math.sin(math.pi/2))

1.0

In [36]:
print(math.cos(math.pi))

-1.0

In [37]:
print(math.tan(math.pi/4))

0.9999999999999999

In [38]:
print(math.acos(-1))

3.141592653589793

In [39]:
print(math.asin(0))

0.0

In [40]:
print(math.atan(1))

0.7853981633974483

In [41]:
print(math.degrees(1))

57.29577951308232

In [42]:
print(math.radians(57.29577951308232))

1.0

![](math4.jpg)

In [43]:
print(math.pi)

3.141592653589793

In [44]:
print(math.e)

2.718281828459045

In [45]:
print(math.tau)

6.283185307179586

In [46]:
print(math.inf)
print(-math.inf)

inf
-inf

## DATETIME LIBRARY

In [47]:
import datetime

In [48]:
from datetime import time

t = time(23, 21, 20, 2021)
print(type(t))
print(t.hour, t.minute, t.second, t.microsecond)

<class 'datetime.time'>
23 21 20 2021

![](time.jpg)

In [49]:
from datetime import date

d = date(2019, 5, 23)
print(type(d))
print(d.year, d.month, d.day)

<class 'datetime.date'>
2019 5 23

![](date.jpg)

In [50]:
from datetime import datetime

dt = datetime(1, 2, 3, 4, 5, 6, 7)
print(type(dt))
print(dt.year, dt.month, dt.day)
print(dt.hour, dt.minute, dt.second, dt.microsecond)

<class 'datetime.datetime'>
1 2 3
4 5 6 7

In [51]:
# HOW TO CHECK NOW TIME OR DATE

print(datetime.now())
datetime.today()

2022-10-17 17:44:50.712467

datetime.datetime(2022, 10, 17, 17, 44, 50, 712467)

In [52]:
def print_hello():
    print("Hello, you!")
    print("Good morning!")

print_hello()

Hello, you!
Good morning!