In [11]:
#WHAT IS A STRING?
#immutable  تغییر ناپذیر

x = "Salam "
print(x)
print(type(x))

Salam
<class 'str'>

![](1.jpg)

In [12]:
x = "Salam "
y = "chetori?"
print(x+y)

Salam chetori?

In [13]:
print(10*"hello ")

hello hello hello hello hello hello hello hello hello hello

In [14]:
str = "hello guys, how are you?"
x = "how"

print(x in str)

print("ali" in str)

print("vahid" not in str)

True
False
True

In [15]:
name = "Sepehr"  #index 0 : 5, it always starts from 0 not 1

print(name[2])

print(name[-1])

p
r

In [16]:
print(name[0:2])

print(name[0::2])

print(name[::-2])

Se
Sph
ree

![](2.jpg)

In [17]:
team = "Real Madrid"
len(team)

11

In [18]:
print(team.lower())

real madrid

In [19]:
print(team.upper())

REAL MADRID

In [20]:
print(team.isalpha())

False

In [21]:
print(team.isdigit())

False

In [22]:
print(team.zfill(20))

000000000Real Madrid

![](3.jpg)

In [23]:
sentence = "Have a good night pal"

In [24]:
print(sentence.count("good"))

1

In [25]:
print(sentence.find("good"))

7

In [26]:
print(sentence.find("bank"))

-1

In [27]:
print(sentence.split())

['Have', 'a', 'good', 'night', 'pal']

In [28]:
print(sentence.replace("night","day"))

Have a good day pal

In [29]:
# LEN ==> return lengh of a string

s = "book"
print(len(s))
print(s.__len__())

4
4

In [30]:
#immiutable

a = 'salam'
print(a.replace('m', 'h').upper())
print(a)

SALAH
salam

In [31]:
a = 'salam'
a = a.replace('m', 'h').upper()
print(a)

SALAH

In [32]:
b = "DOWN"
print(b.removeprefix("D"))

OWN

In [33]:
print(b.removesuffix("N"))

DOW

In [34]:
print(b.removeprefix("S"))

print(b.removesuffix("M"))

DOWN
DOWN

In [35]:
#String Formatting

age = 12
height = 178.5
isMale = True

print(f'Sen : {age}, Height : {height}, Gender : {isMale}')

Sen : 12, Height : 178.5, Gender : True

In [36]:
variable = 5
print(f"{variable = }")

variable = 5

![](4.jpg)

In [37]:
greeting = "Hello %s!"
name = "Omid"
print(greeting % name)

Hello Omid!

In [38]:
greeting = "Hello %s with %d years old!"
name = input("Please enter your name:\n")
age = float(input("Please enter your age:\n"))
print(greeting % (name, age))

Hello Omid with 24 years old!

![](5.jpg)

In [39]:
# format()

greeting = "Hello {} with {} years old!"
name = input("Please enter your name:\n")
age = int(input("Please enter your age:\n"))
print(greeting.format(name, age))

Hello 24 with 24 years old!

![](6.jpg)

In [40]:
print("{:+} {:+} {:+}".format(241.1, -124.21, 0))

+241.1 -124.21 +0

In [41]:
print("{:.3f} {:.3f}".format(122, 33.22191))

122.000 33.222

In [42]:
print("{:b} {:b}".format(-34, 21))

-100010 10101

In [43]:
print("{:x} {:x}".format(241, 124))

f1 7c

In [44]:
print("{:o} {:o}".format(241, 124))

361 174

In [45]:
print("{:0=8} {:1=8} {:2=2}".format(12, 21.12, 312))

00000012 11121.12 312

In [46]:
#SECOND METHOD OF USING FORMAT()

print("Hello {0} with {1} years old!".format("Ali", "23"))

Hello Ali with 23 years old!

In [47]:
print("Hello {name} with {age} years old!".format(name = "Ali", age = "23"))

Hello Ali with 23 years old!

In [48]:
print("Hello {0} with {age} years old!".format("Ali", age = "23"))

Hello Ali with 23 years old!

In [49]:
print("{0:.3f} {0:+}".format(23.12))

23.120 +23.12

In [50]:
print("{num:.3f} {num:+}".format(num=23.12))

23.120 +23.12

# REGEX

![](7.jpg)

In [51]:
mobile_number = input()
if len(mobile_number) == 11 and mobile_number.startswith('09') and mobile_number.isdigit(): 
    print('✅Valid mobile number')
else:
    print('❌Invalid mobile number')

✅Valid mobile number

In [52]:
#regex's library

import re

![](8.jpg)

![](9.jpg)

![](10.jpg)

![](11.jpg)

![](12.jpg)

![](13.jpg)

![](14.jpg)

![](15.jpg)

![](16.jpg)

![](17.jpg)

![](18.jpg)

![](19.jpg)

![](20.jpg)

![](21.jpg)

for more information check this link

https://www.dataquest.io/wp-content/uploads/2019/03/python-regular-expressions-cheat-sheet.pdf

# Regex's functions

In [53]:
# findall()  

re.findall("e[a-z]", "regex college")

['eg', 'ex', 'eg']

In [54]:
re.findall("python", "regex college")

[]

In [55]:
# Search(), if the function couldn't find any similarity it return None

x = re.search("e[a-z]", "regex college")
x

In [56]:
type(x)

re.Match

In [57]:
x.string

'regex college'

In [58]:
x.span()

(1, 3)

In [59]:
x.group()

'eg'

In [60]:
# Split

re.split('a', 'salam')

['s', 'l', 'm']

In [61]:
re.split('[0-9]+', 'you92398can820split729with26numbers')

['you', 'can', 'split', 'with', 'numbers']

In [62]:
re.split('[a-z]+', '2093ab20a120dk')

['2093', '20', '120', '']

In [63]:
# Sub

re.sub('l', 'salam', 'hello')

'hesalamsalamo'

In [64]:
re.sub('[0-9]', '_digit_', '21ab1')

'_digit__digit_ab_digit_'

In [65]:
re.sub('[0-9]+', '_num_', '12ab1129h')

'_num_ab_num_h'

In [66]:
# Match(), Determine if the RE matches at the beginning of the string.

if re.match("salam",input()):
    print("ok")
else:
    pass

ok

# Python Regex Cheat Sheet

https://drive.google.com/file/d/1XPcNtR8z9MvP7Mkcwyubd3T6Rc0fmNj6/view